* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;

}

html,
body {
    height: 100%;
    width: 100%;

}


#cursor {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    border: 1px solid #ccc;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #030303;
    z-index: 999;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: now-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}


@keyframes now-animation {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.2px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    47% {
        font-family: "plain light";
        -webkit-text-stroke: 0.2px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 0.2px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: "silk serif";
        -webkit-text-stroke: 0.2px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

#line1-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;
}

.main {
    position: relative;
    background-color: #030303;
}



#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
    /* font-family: 'plain light'; */
}

.hero {
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    /* for font loading effect */

    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero h2 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 1vw;
    transition: all ease ;
}

.hero:nth-child(2) {
    margin-top: 18vh;
}

.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}